<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>LAB Consulting-Contacts</title>
	<meta name="description" content="#">
	<meta name="keywords" content="#">
	<link rel="icon" href="#" type="#">
 	<link rel="shortcut icon" href="#" sdtype="#"> 
	<meta property="og:title" content="#">
	<meta property="og:description" content='#'>
	<meta property="og:type" content="article">
	<meta property="og:image" content="#" >
	<meta property="og:site_name" content="#">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery.arcticmodal-0.3.css">
    <link rel="stylesheet" href="css/simple.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
	<!-- PRELOADER -->
	<div id="page-preloader">
		<div class='cssload-loader'>
		  <div class='cssload-inner cssload-one'></div>
		  <div class='cssload-inner cssload-two'></div>
		  <div class='cssload-inner cssload-three'></div>
		</div>
	</div>
	<!-- PRELOADER FINISH -->
	<header class="contacts" id="contacts">
		<div class="navigation">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-6 col-lg-4">
						<a href="#" alt="LAB CONSULTING"><img src="img/logo.png" alt="LAB Consalting" class="logo img-fluid"></a>
					</div>
					<div class="col-md-6 d-lg-block menu-collapse d-none ">
						<ul class="menu d-flex justify-content-around">
							<li class="menu__item menu__point">
								<a href="about.html" class="menu__link">
									О компании
								</a>
							</li>
							<li class="menu__item menu__point">
								<a href="#" class="menu__link">
									Пресс-центр
								</a>
							</li>
							<li class="menu__item menu__point">
								<a href="services.html" class="menu__link">
									Услуги
								</a>
							</li>
							<li class="menu__item menu__point">
								<a href="#" class="menu__link">
									Отрасли
								</a>
							</li>
							<li class="menu__item 	menu__point">
								<a href="contacts.html" class="menu__link">
									Контакты
								</a>
							</li>
						</ul>
					</div>
					<div class=" col-6 col-lg-2 d-flex justify-content-end">
						<button type="button" class="call-btn btn phone-modal">
						<i class="fa fa-phone"></i><span>Заказать звонок</span>
						</button>
						<button class="menu-open d-lg-none">
							<i class="fas fa-bars"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="category">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-4">
						<h1 class="cotegory-title text-center text-lg-left">
							Контакты
						</h1>
						<ul class="breadcrumbs d-flex justify-content-center justify-content-lg-start">
							<li class="breadcrumbs__item">
								<a href="index.html" class="breadcrumbs__link">
									Главная
								</a>
							</li>
							<li class="breadcrumbs__item">
								Контактная информацияи	
							</li>
						</ul>
					</div>
					<div class="col-lg-8">
						<ul class="catefgory-menu d-flex flex-column align-items-center justify-content-center text-center text-md-left flex-md-row justify-content-lg-end">
							<li class="category-menu__item">
								<a href="#" class="category-menu__link">
									Офис в Одессе  
								</a>
							</li>
							<li class="category-menu__item">
								<a href="#" class="category-menu__link">
									Офис в Киеве
								</a>
							</li>
							<li class="category-menu__item">
								<a href="#" class="category-menu__link">
									Офис в Харькове
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="map" id="map">
		<div class="map-position">
			<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6d2bd319faa68525f45787453c2cc0dbcc11bec67b353553a3b5645b946220a8&amp;width=100%25&amp;height=440&amp;lang=ru_RU&amp;scroll=false"></script>	
		</div>
		<div class="container">
			<div class="row">
				<div class="col d-flex justify-content-lg-end">
					<div class="map-card">
						<div class="map-card__head d-flex align-items-center justify-content-between">
							<h5 class="map-card__title">
								LAB Consulting
							</h5>
							<div class="map-card__social d-flex justify-content-between">
								<!--noindex-->
								<a href="#" target="_blank" rel="nofollow"><i class="fab fa-facebook-square"></i></a>
								<a href="#" target="_blank" rel="nofollow"><i class="fab fa-twitter"></i></a>
								<a href="#" target="_blank" rel="nofollow"><i class="fab fa-telegram-plane"></i></a>
								<!--noindex-->
							</div>
						</div>
						<div class="map-card__info d-flex justify-content-between">
							<div class="map-card__connect">
								<a href="tel:+380487562354" class="map-card__phone">
									<i class="fa fa-phone fa-color-white">
									</i>
									+38 (048) 756-23-54
								</a>
								<a href="tel:+380487562354" class="map-card__phone"><i class="fa fa-phone fa-color-white"></i>
									+38 (048) 756-23-54
								</a>
								<div class="map-card__address d-flex">
									<i class="fa fa-location-arrow"></i>
									<address>
										<p>
											65000,
										</p>
										<p>
											Украина, г. Одесса
										</p>
										<p>
											Ул Базарная, 36
										</p>
									</address>
								</div>
								<a href="e-mail:info@lab-consult.com" class="map-card__email" target="_blank"><i class="fa fa-envelope"></i>
									info@lab-consult.com
								</a>
							</div>
							<div class="map-card__short-info">
								<p class="map-card__text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								</p>
								<p class="map-card__text">
									Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								</p>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="links" id="links">
		<div class="container">
			<div class="row text-center text-md-left">
				<div class="col-md-6 col-lg-4">
					<div class="limb">
						<h6 class="limb__title">
							<a href="about.html" class="limb__title-link">
								О компании
							</a>
						</h6>
						<ul class="limb__list">
							<li class="limb__item">
								<a href="#" class="limb__link">
									Видение, миссия и ценности
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Преимущества
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Клиенты
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Партнеры
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Контакты
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="limb">
						<h6 class="limb__title">
							<a href="#" class="limb__title-link">
								Пресс – центр
							</a>
						</h6>
						<ul class="limb__list">
							<li class="limb__item">
								<a href="#" class="limb__link">
									Новости
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Публикации
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Мероприятия
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Консультация эксперта
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="limb__item">
						<h6 class="limb__title">
							<a href="services.html" class="limb__title-link">
								Услуги
							</a>
						</h6>
						<ul class="limb__list">
							<li class="limb__item">
								<a href="#" class="limb__link">
									Legal (Юридическое сопровождение)
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Accounting ( Финансовый аутсорсинг)
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Business Consulting (Бизнес консалтинг)
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="limb__item">
						<h6 class="limb__title">
							<a href="#" class="limb__title-link">
								Отрасли
							</a>
						</h6>
						<ul class="limb__list">
							<li class="limb__item">
								<a href="#" class="limb__link">
									Аграрный сектор
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Внешнеэкономическая деятельность
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									ИT – бизнес
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Оптовая и розничная торговля
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Сфера услуг
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Транспорт и Логистика
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="limb">
						<h6 class="limb__title">
							<a href="#" class="limb__title-link">
								Образовательный центр
							</a>
						</h6>
						<ul class="limb__list">
							<li class="limb__item">
								<a href="#" class="limb__link">
									Про Образовательный Центр
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Бизнес-тренинги, семинары, круглые столы
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Преимущества
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Alumni
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="limb">
						<h6 class="limb__title">
							<a href="#" class="limb__title-link">
								Соц. предпринимательство
							</a>
						</h6>
						<ul class="limb__list">
							<li class="limb__item">
								<a href="#" class="limb__link">
									Социальная миссия
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Проекты
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Партнеры 
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Консультация эксперта 
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer" id="footer">
		<div class="container">
			<div class="row  align-items-center text-center text-md-left">
				<div class="col-md-4">
					<a href="#" alt="LAB CONSULING" class="footer-logo"><img src="img/logo-footer.png" alt="LAB Consalting" class="img-fluid"></a>
				</div>
				<div class="col-md-4 col-lg-3">
					<div class="propsal">
						<div class="propsal-question">
							<p>
								Вы хотите сотрудничать с нами?
							</p>
							<p> 
								У Вас есть идеи или предложения?
							</p>
							<p>
								Свяжитесь с нами прямо сейчас! 
							</p>
						</div>
						<address class="propsal-address">
							<p>
								65000,
							</p>
							<p>
								Украина, г. Одесса
							</p>
							<p>
								Ул Базарная, 36
							</p>
						</address>
					</div>
				</div>
				<div class="col-md-4 col-lg-3 text-left">
					<div class="firms">
						<div class="firms__develop d-flex justify-content-center justify-content-md-start align-items-start">
							<span class="firms__let">
								W
							</span>
							<div class="firms__des">
								<p class="firms__text-design">
									Дизайн и разработка
								<p class="firms__text-couch">
									Коучинг по верстке
								</p>
							</p>
							</div>
						</div>
						<div class="firms__right">
							<p>
								&copy; Все права защищены
							</p>
							<p class="firms_text-lg">
								LAB Consulting
							</p>
							<a href="https://Lab-cosult.com" class="firms__link">
								lab-consult.com
							</a>
						</div>
					</div>
				</ddiv>
			</div>
			<div class="col-lg-2 text-center text-lg-right d-md-none d-lg-block  mr-auto">
				<button type="button" class="footer__btn call-btn btn phone-modal">
					<i class="fas fa-phone"></i>
						Заказать звонок
				</button>
			</div>
		</div>
	</footer>
	<div style="display: none;">
    <div class="box-modal" id="exampleModal">
		<div class="reg">
			<div class="reg__wrap">
				<h4 class="reg__title">
					Заказать обратный звонок
				</h4>
				<p class="reg__text">
					Заполните форму и мы свяжемся с вами как можно скорее. До скорой встречи
				</p>
				<form class="reg__form" action="#">
					<input type="text" class="reg__input" required="" placeholder="Имя" name="name" aria-required="true">
					<input type="email" class="reg__input" required="" placeholder="E-mail" name="email" aria-required="true">
					<input type="tel" class="reg__input" required="" placeholder="Телефон" name="phone" aria-required="true">
					<button class="phone-btn btn btn-send">
						<i class="fa fa-phone"></i>
						Заказать звонок
					</button>
				</form>	
			</div>
		</div>	
 	</div>
</div>
	<script src="js/jquery-3.4.0.min.js"></script>
	<script src="js/jquery.arcticmodal-0.3.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
	
