<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>LAB Consulting</title>
	<meta name="description" content="#">
	<meta name="keywords" content="#">
	<link rel="icon" href="#" type="#">
 	<link rel="shortcut icon" href="#" sdtype="#"> 
	<meta property="og:title" content="#">
	<meta property="og:description" content='#'>
	<meta property="og:type" content="article">
	<meta property="og:image" content="#" >
	<meta property="og:site_name" content="#">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery.arcticmodal-0.3.css">
    <link rel="stylesheet" href="css/simple.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
	<!-- PRELOADER -->
	<div id="page-preloader">
		<div class='cssload-loader'>
		  <div class='cssload-inner cssload-one'></div>
		  <div class='cssload-inner cssload-two'></div>
		  <div class='cssload-inner cssload-three'></div>
		</div>
	</div>
	<!-- PRELOADER FINISH -->
	<header class="header" id="header" data-type="background" data-speed="3">
		<div class="navigation">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-6 col-lg-4">
						<a href="#" alt="LAB CONSULTING"><img src="img/logo.png" alt="LAB Consalting" class="logo img-fluid"></a>
					</div>
					<div class="col-md-6 d-lg-block menu-collapse d-none ">
						<ul class="menu d-flex justify-content-around">
							<li class="menu__item menu__point">
								<a href="about.html" class="menu__link">
									О компании
								</a>
							</li>
							<li class="menu__item menu__point">
								<a href="#" class="menu__link">
									Пресс-центр
								</a>
							</li>
							<li class="menu__item menu__point">
								<a href="services.html" class="menu__link">
									Услуги
								</a>
							</li>
							<li class="menu__item menu__point">
								<a href="#" class="menu__link">
									Отрасли
								</a>
							</li>
							<li class="menu__item 	menu__point">
								<a href="contacts.html" class="menu__link">
									Контакты
								</a>
							</li>
						</ul>
					</div>
					<div class=" col-6 col-lg-2 d-flex justify-content-end">
						<button type="button" class="call-btn btn phone-modal">
						<i class="fa fa-phone"></i><span>Заказать звонок</span>
						</button>
						<button class="menu-open d-lg-none">
							<i class="fas fa-bars"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="content-header">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="offer">
							<h1 class="offer__title">
								LAB Consulting
							</h1>
							<p class="offer__text">
								Ваш надежный партнер в области транспортно-логистического сопровождения
							</p>
							<div class="offer__social d-flex justify-content-between">
								<!--noindex-->
								<a  href="#" class="offer__link" 	target="_blank" rel="nofollow">
									<i class="fab fa-facebook offer__link_facebook"></i>
								</a>

								<a href="#" class="offer__link" target="_blank" rel="nofollow"> 
									<i class="fab fa-twitter offer__link_twitter"></i>
								</a>
								<a href="#" class="offer__link" target="_blank" rel="nofollow">
									<i class="fab fa-telegram-plane offer__link_telegram"></i>
								</a>
								<!--noindex-->
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>		
	</header>
	<section class="trust" id="trust">
		<div class="container">
			<div class="row">
				<div class="col">
					<h2>
						Мы заслужили доверие
					</h2>
					<div class="row">
						<div class="col-md-6 col-lg-4">
							<div class="reason d-flex align-items-center flex-column">
								<div class="reason__img reason__img_lamp"></div>
								<h4 class="reason__title">
									Что мы предлагаем?
								</h4>
								<p class="reason__text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								</p>
							</div>
						</div>
							<div class="col-md-6 col-lg-4">
							<div class="reason d-flex align-items-center flex-column">
								<div class="reason__img reason__img_block"></div>
								<h4 class="reason__title">
									Как мы работаем?
								</h4>
								<p class="reason__text">
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab ill
								</p>
							</div>
						</div>
							<div class="col-lg-4">
							<div class="reason d-flex align-items-center flex-column">
								<div class="reason__img reason__img_star"></div>
								<h4 class="reason__title">
									Почему мы?
								</h4>
								<p class="reason__text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et doloremagna aliqua
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a href="#more" class="more-btn btn go-to">
				Подробнее
			</a>
		</div>
	</section>
	<section class="more" id="more">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="what-it">
						<div class="what-it__img">
							L
						</div>
						<h3 class="what-it__title">
							Legal
						</h3>
						<p class="what-it__text">
							But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth
						</p>
					</div>
				</div>
					<div class="col-lg-4">
					<div class="what-it">
						<div class="what-it__img">
							A
						</div>
						<h3 class="what-it__title">
							Accounting
						</h3>
						<p class="what-it__text">
							But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth
						</p>
					</div>
				</div>
					<div class="col-lg-4">
					<div class="what-it">
						<div class="what-it__img">
							B
						</div>
						<h3 class="what-it__title">
							Business
						</h3>
						<p class="what-it__text">
							But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="about" id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<div class="mission">
						<h4 class="mission__title">
							Миссия LAB Consulting
						</h4>
						<div class="mission__content d-flex flex-column flex-md-row justify-content-between">
							<div class="mission__left">
								<p class="mission__text">
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.
								</p>
								<p class="mission__text">Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
								</p>
								<a href="#" class="mission__btn btn">Узнать большее</a>
							</div>
							<div class="mission__right">
								<p class="mission__text">
									Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
								</p>
								<p class="mission__text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="news">
							<h4 class="news__title">
							Новости
							</h4>
							<div class="news__content">
								<div class="news__list d-flex align-items-lg-start">
									<img src="img/truck.png" alt="Новость" class="news__img">
								<div class="news__items">
									<h6 class="news__items-title">
										<a href="#" class="news__text">
											LAB Consulting запускает новое направление в своих услугах
										</a>
									</h6>
									<span class="news__time">
										02.12.2015
									</span>
								</div>
							</div>
							<div class="news__list d-flex align-items-lg-start">
								<img src="img/truck.png" alt="Новость" class="news__img">
								<div class="news__items">
									<h6 class="news__items-title">
										<a href="#" class="news__text">
											LAB Consulting запускает новое направление в своих услугах
										</a>
									</h6>
									<span class="news__time">
										02.12.2015
									</span>
								</div>
							</div>
							<div class="news__list d-flex align-items-lg-start">
								<img src="img/truck.png" alt="Новость" class="news__img">
								<div class="news__items">
									<h6 class="news__items-title">
										<a href="#" class="news__text">
											LAB Consulting запускает новое направление в своих услугах
										</a>
									</h6>
									<span class="news__time">
										02.12.2015
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="links" id="links">
		<div class="container">
			<div class="row text-center text-md-left">
				<div class="col-md-6 col-lg-4">
					<div class="limb">
						<h6 class="limb__title">
							<a href="about.html" class="limb__title-link">
								О компании
							</a>
						</h6>
						<ul class="limb__list">
							<li class="limb__item">
								<a href="#" class="limb__link">
									Видение, миссия и ценности
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Преимущества
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Клиенты
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Партнеры
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Контакты
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="limb">
						<h6 class="limb__title">
							<a href="#" class="limb__title-link">
								Пресс – центр
							</a>
						</h6>
						<ul class="limb__list">
							<li class="limb__item">
								<a href="#" class="limb__link">
									Новости
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Публикации
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Мероприятия
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Консультация эксперта
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="limb__item">
						<h6 class="limb__title">
							<a href="services.html" class="limb__title-link">
								Услуги
							</a>
						</h6>
						<ul class="limb__list">
							<li class="limb__item">
								<a href="#" class="limb__link">
									Legal (Юридическое сопровождение)
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Accounting ( Финансовый аутсорсинг)
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Business Consulting (Бизнес консалтинг)
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="limb__item">
						<h6 class="limb__title">
							<a href="#" class="limb__title-link">
								Отрасли
							</a>
						</h6>
						<ul class="limb__list">
							<li class="limb__item">
								<a href="#" class="limb__link">
									Аграрный сектор
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Внешнеэкономическая деятельность
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									ИT – бизнес
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Оптовая и розничная торговля
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Сфера услуг
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Транспорт и Логистика
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="limb">
						<h6 class="limb__title">
							<a href="#" class="limb__title-link">
								Образовательный центр
							</a>
						</h6>
						<ul class="limb__list">
							<li class="limb__item">
								<a href="#" class="limb__link">
									Про Образовательный Центр
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Бизнес-тренинги, семинары, круглые столы
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Преимущества
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Alumni
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="limb">
						<h6 class="limb__title">
							<a href="#" class="limb__title-link">
								Соц. предпринимательство
							</a>
						</h6>
						<ul class="limb__list">
							<li class="limb__item">
								<a href="#" class="limb__link">
									Социальная миссия
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Проекты
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Партнеры 
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Консультация эксперта 
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer" id="footer">
		<div class="container">
			<div class="row  align-items-center text-center text-md-left">
				<div class="col-md-4">
					<a href="#" alt="LAB CONSULING" class="footer-logo"><img src="img/logo-footer.png" alt="LAB Consalting" class="img-fluid"></a>
				</div>
				<div class="col-md-4 col-lg-3">
					<div class="propsal">
						<div class="propsal-question">
							<p>
								Вы хотите сотрудничать с нами?
							</p>
							<p> 
								У Вас есть идеи или предложения?
							</p>
							<p>
								Свяжитесь с нами прямо сейчас! 
							</p>
						</div>
						<address class="propsal-address">
							<p>
								65000,
							</p>
							<p>
								Украина, г. Одесса
							</p>
							<p>
								Ул Базарная, 36
							</p>
						</address>
					</div>
				</div>
				<div class="col-md-4 col-lg-3 text-left">
					<div class="firms">
						<div class="firms__develop d-flex justify-content-center justify-content-md-start align-items-start">
							<span class="firms__let">
								W
							</span>
							<div class="firms__des">
								<p class="firms__text-design">
									Дизайн и разработка
								<p class="firms__text-couch">
									Коучинг по верстке
								</p>
							</p>
							</div>
						</div>
						<div class="firms__right">
							<p>
								&copy; Все права защищены
							</p>
							<p class="firms_text-lg">
								LAB Consulting
							</p>
							<a href="https://Lab-cosult.com" class="firms__link">
								lab-consult.com
							</a>
						</div>
					</div>
				</ddiv>
			</div>
			<div class="col-lg-2 text-center text-lg-right d-md-none d-lg-block  mr-auto">
				<button type="button" class="footer__btn call-btn btn phone-modal">
					<i class="fas fa-phone"></i>
						Заказать звонок
				</button>
			</div>
		</div>
	</footer>
	<div style="display: none;">
    <div class="box-modal" id="exampleModal">
		<div class="reg">
			<div class="reg__wrap">
				<h4 class="reg__title">
					Заказать обратный звонок
				</h4>
				<p class="reg__text">
					Заполните форму и мы свяжемся с вами как можно скорее. До скорой встречи
				</p>
				<form class="reg__form" action="#">
					<input type="text" class="reg__input" required="" placeholder="Имя" name="name" aria-required="true">
					<input type="email" class="reg__input" required="" placeholder="E-mail" name="email" aria-required="true">
					<input type="tel" class="reg__input" required="" placeholder="Телефон" name="phone" aria-required="true">
					<button class="phone-btn btn btn-send">
						<i class="fa fa-phone"></i>
						Заказать звонок
					</button>
				</form>	
			</div>
		</div>	
 	</div>
</div>
	<script src="js/jquery-3.4.0.min.js"></script>
	<script src="js/jquery.arcticmodal-0.3.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
