<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>LAB Consulting-Services</title>
	<meta name="description" content="#">
	<meta name="keywords" content="#">
	<link rel="icon" href="#" type="#">
 	<link rel="shortcut icon" href="#" sdtype="#"> 
	<meta property="og:title" content="#">
	<meta property="og:description" content='#'>
	<meta property="og:type" content="article">
	<meta property="og:image" content="#" >
	<meta property="og:site_name" content="#">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery.arcticmodal-0.3.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/simple.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
	<!-- PRELOADER -->
	<div id="page-preloader">
		<div class='cssload-loader'>
		  <div class='cssload-inner cssload-one'></div>
		  <div class='cssload-inner cssload-two'></div>
		  <div class='cssload-inner cssload-three'></div>
		</div>
	</div>
	<!-- PRELOADER FINISH -->
	<header class="services" id="services">
		<div class="navigation">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-6 col-lg-4">
						<a href="#" alt="LAB CONSULTING"><img src="img/logo.png" alt="LAB Consalting" class="logo img-fluid"></a>
					</div>
					<div class="col-md-6 d-lg-block menu-collapse d-none ">
						<ul class="menu d-flex justify-content-around">
							<li class="menu__item menu__point">
								<a href="about.html" class="menu__link">
									О компании
								</a>
							</li>
							<li class="menu__item menu__point">
								<a href="#" class="menu__link">
									Пресс-центр
								</a>
							</li>
							<li class="menu__item menu__point">
								<a href="services.html" class="menu__link">
									Услуги
								</a>
							</li>
							<li class="menu__item menu__point">
								<a href="#" class="menu__link">
									Отрасли
								</a>
							</li>
							<li class="menu__item 	menu__point">
								<a href="contacts.html" class="menu__link">
									Контакты
								</a>
							</li>
						</ul>
					</div>
					<div class=" col-6 col-lg-2 d-flex justify-content-end">
						<button type="button" class="call-btn btn phone-modal">
						<i class="fa fa-phone"></i><span>Заказать звонок</span>
						</button>
						<button class="menu-open d-lg-none">
							<i class="fas fa-bars"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="category">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-4">
						<h1 class="cotegory-title text-center text-lg-left">
							Услуги
						</h1>
						<ul class="breadcrumbs d-flex justify-content-center justify-content-lg-start">
							<li class="breadcrumbs__item">
								<a href="index.html" class="breadcrumbs__link">
									Главная
								</a>
							</li>
							<li>
								Услуги
							</li>
						</ul>
					</div>
					<div class="col-lg-8">
						<ul class="catefgory-menu d-flex flex-column align-items-center justify-content-center text-center text-md-left flex-md-row justify-content-lg-end">
							<li class="category-menu__item current-item">
								<a href="#" class="category-menu__link">
									Legal
									<span class="category-menu__tail">
										Юридическое сопровождение
									</span>
								</a>
							</li>
							<li class="category-menu__item">
								<a href="#" 	class="category-menu__link">
									Accounting
									<span class="category-menu__tail">
										Финансовый аутсорсинг
									</span>
								</a>
							</li>
							<li class="category-menu__item">
								<a href="#" class="category-menu__link">
									Business Consulting
									<span class="category-menu__tail">
										Бизнес консалтинг
									</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="main">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-4 col-lg-3 d-flex justify-content-center">
					<div class="main-circle-work">
						<img src="img/abot-main-work.jpg.png" alt="work" class="img-fluid">
					</div>
				</div>
				<div class="col-md-8 col-lg-4">
					<div class="service">
						<h3 class="service__title">
							Юридическое сопровождение
						</h3>
						<p class="service__text">
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, to	tam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
						</p>
					</div>
				</div>
				<div class="col-lg-5 d-none d-lg-block">
					<ul class="spices ml-auto">
						<li class="spices__item">
							<a href="#" class="spices__link">
								Подкатегория услуг первая
							</a>
						</li>
						<li class="spices__item">
							<a href="#" class="spices__link">
								Вторая подкатегория
							</a>
						</li>
						<li class="spices__item">
							<a href="#" class="spices__link">
								Маленькая услуга
							</a>
						</li>
						<li class="spices__item">
							<a href="#" class="spices__link">
								Довольно длинная и замысловатая
							</a>
						</li>
						<li class="spices__item">
							<a href="#" class="spices__link">
								Ещё одна
							</a>
						</li>
						<li class="spices__item">
							<a href="#" class="spices__link">
								И ещё одна в конце	
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="content" id="content">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="second-category">
						<h2 class="second-category__title">
							Вторая подкатегория
						</h2>
						<p class="second-category__text">
							But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
						</p>
						<p class="second-category__text">
							To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
						</p>
						<p class="second-category__text">
							To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
						</p>
						<p class="second-category__text">
							Mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
						</p>
						<p class="second-category__text">
							To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
						</p>
						<p class="second-category__text">
							No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. 
						</p>
						<div class="advice">
							<h5 class="advice__title">
								Нужна бесплатная консультация?
							</h5>
							<div class="advice__connect">
								<button type="button" class="advice__btn btn phone-modal">
									Оставить заявку
								</button>
								<a href="tel:+38 (048) 754-23-56" class="advice__phone">+38 (048) 754-23-56</a>
							</div>
							<p class="advice__text">
								Наши консультанты свяжутся с Вами максимально быстро и ответят на все интересующие Вас вопросы
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<aside class="aside">
						<div class="content-nav">
							<h5 class="content-nav__title">
								Навигация
							</h5>
							<ul class="content-nav__list">
								<li class="content-nav__item">
									<a href="#" class="content-nav__link">
										Подпункт номер оди
									</a>
								</li>
								<li class="content-nav__item">
									<a href="#" class="content-nav__link">
										Второй подпункт
									</a>
								</li>
								<li class="content-nav__item">
									<a href="#" class="content-nav__link">
										Третья подкатегория c	 длинным названием
									</a>
								</li>
								<li class="content-nav__item">
									<a href="#" class="content-nav__link">
										Категория номер четыре
									</a>
								</li>
							</ul>
						</div>
						<div class="feedback">
							<h5 class="feedback__title">
								Отзывы
							</h5>
							<div class="feedback__slider">
								<div>
									<div class="feedback__review">
										<div class="feedback__photo">
											<img src="img/cuker.png" alt="review photo">
										</div>
										<h6 class="feedback__name">
											Валерий Цукерберг
										</h6>
										<div class="feedback__comment">
											al exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy
										</div>
										<!--noindex-->
										<a href="#" target="_blank" rel="nofollow">
											<i class="fab fa-facebook-f feedback__facebook-icon"></i>
										</a>
										<!--/noindex-->
									</div>
								</div>
								<div>
									<div class="feedback__review">
										<div class="feedback__photo">
											<img src="img/cuker.png" alt="review photo">
										</div>
										<h6 class="feedback__name">
											Валерий Цукерберг
										</h6>
										<p class="feedback__comment">
											al exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy
										</p>
										<!--noindex-->
										<a href="#" target="_blank" rel="nofollow">
											<i class="fab fa-facebook-f feedback__facebook-icon"></i>
										</a>
										<!--/noindex-->
									</div>
								</div>
								<div>
									<div class="feedback__review">
										<div class="feedback__photo">
											<img src="img/cuker.png" alt="review photo">
										</div>
										<h6 class="feedback__name">
											Валерий Цукерберг
										</h6>
										<div class="feedback__comment">
											al exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy
										</div>
										<!--noindex-->
										<a href="#" target="_blank" rel="nofollow">
											<i class="fab fa-facebook-f feedback__facebook-icon"></i>
										</a>
										<!--/noindex-->
									</div>
								</div>
							</div>
						</div>
					</aside>
				</div>
			</div>
		</div>	
	</section>
	<section class="links" id="links">
		<div class="container">
			<div class="row text-center text-md-left">
				<div class="col-md-6 col-lg-4">
					<div class="limb">
						<h6 class="limb__title">
							<a href="about.html" class="limb__title-link">
								О компании
							</a>
						</h6>
						<ul class="limb__list">
							<li class="limb__item">
								<a href="#" class="limb__link">
									Видение, миссия и ценности
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Преимущества
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Клиенты
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Партнеры
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Контакты
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="limb">
						<h6 class="limb__title">
							<a href="#" class="limb__title-link">
								Пресс – центр
							</a>
						</h6>
						<ul class="limb__list">
							<li class="limb__item">
								<a href="#" class="limb__link">
									Новости
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Публикации
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Мероприятия
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Консультация эксперта
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="limb__item">
						<h6 class="limb__title">
							<a href="services.html" class="limb__title-link">
								Услуги
							</a>
						</h6>
						<ul class="limb__list">
							<li class="limb__item">
								<a href="#" class="limb__link">
									Legal (Юридическое сопровождение)
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Accounting ( Финансовый аутсорсинг)
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Business Consulting (Бизнес консалтинг)
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="limb__item">
						<h6 class="limb__title">
							<a href="#" class="limb__title-link">
								Отрасли
							</a>
						</h6>
						<ul class="limb__list">
							<li class="limb__item">
								<a href="#" class="limb__link">
									Аграрный сектор
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Внешнеэкономическая деятельность
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									ИT – бизнес
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Оптовая и розничная торговля
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Сфера услуг
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Транспорт и Логистика
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="limb">
						<h6 class="limb__title">
							<a href="#" class="limb__title-link">
								Образовательный центр
							</a>
						</h6>
						<ul class="limb__list">
							<li class="limb__item">
								<a href="#" class="limb__link">
									Про Образовательный Центр
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Бизнес-тренинги, семинары, круглые столы
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Преимущества
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Alumni
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="limb">
						<h6 class="limb__title">
							<a href="#" class="limb__title-link">
								Соц. предпринимательство
							</a>
						</h6>
						<ul class="limb__list">
							<li class="limb__item">
								<a href="#" class="limb__link">
									Социальная миссия
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Проекты
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Партнеры 
								</a>
							</li>
							<li class="limb__item">
								<a href="#" class="limb__link">
									Консультация эксперта 
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer" id="footer">
		<div class="container">
			<div class="row  align-items-center text-center text-md-left">
				<div class="col-md-4">
					<a href="#" alt="LAB CONSULING" class="footer-logo"><img src="img/logo-footer.png" alt="LAB Consalting" class="img-fluid"></a>
				</div>
				<div class="col-md-4 col-lg-3">
					<div class="propsal">
						<div class="propsal-question">
							<p>
								Вы хотите сотрудничать с нами?
							</p>
							<p> 
								У Вас есть идеи или предложения?
							</p>
							<p>
								Свяжитесь с нами прямо сейчас! 
							</p>
						</div>
						<address class="propsal-address">
							<p>
								65000,
							</p>
							<p>
								Украина, г. Одесса
							</p>
							<p>
								Ул Базарная, 36
							</p>
						</address>
					</div>
				</div>
				<div class="col-md-4 col-lg-3 text-left">
					<div class="firms">
						<div class="firms__develop d-flex justify-content-center justify-content-md-start align-items-start">
							<span class="firms__let">
								W
							</span>
							<div class="firms__des">
								<p class="firms__text-design">
									Дизайн и разработка
								<p class="firms__text-couch">
									Коучинг по верстке
								</p>
							</p>
							</div>
						</div>
						<div class="firms__right">
							<p>
								&copy; Все права защищены
							</p>
							<p class="firms_text-lg">
								LAB Consulting
							</p>
							<a href="https://Lab-cosult.com" class="firms__link">
								lab-consult.com
							</a>
						</div>
					</div>
				</ddiv>
			</div>
			<div class="col-lg-2 text-center text-lg-right d-md-none d-lg-block  mr-auto">
				<button type="button" class="footer__btn call-btn btn phone-modal">
					<i class="fas fa-phone"></i>
						Заказать звонок
				</button>
			</div>
		</div>
	</footer>
	<div style="display: none;">
    <div class="box-modal" id="exampleModal">
		<div class="reg">
			<div class="reg__wrap">
				<h4 class="reg__title">
					Заказать обратный звонок
				</h4>
				<p class="reg__text">
					Заполните форму и мы свяжемся с вами как можно скорее. До скорой встречи
				</p>
				<form class="reg__form" action="#">
					<input type="text" class="reg__input" required="" placeholder="Имя" name="name" aria-required="true">
					<input type="email" class="reg__input" required="" placeholder="E-mail" name="email" aria-required="true">
					<input type="tel" class="reg__input" required="" placeholder="Телефон" name="phone" aria-required="true">
					<button class="phone-btn btn btn-send">
						<i class="fa fa-phone"></i>
						Заказать звонок
					</button>
				</form>	
			</div>
		</div>	
 	</div>
</div>
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/jquery.arcticmodal-0.3.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
	